<h1>Carrito de Compras</h1>
<main class="cart-container">
  <section class="cart-items" *ngIf="items.length > 0; else emptyCart">
    <article class="cart-item" *ngFor="let item of items; trackBy: trackByProductId">
      <img class="item-image" [src]="item.product.urlImagen" alt="{{ item.product.nombre }}">

      <div class="item-details">
        <h2 class="item-title">{{ item.product.nombre }}</h2>
        <p class="item-quantity">Cantidad:
          <select [(ngModel)]="item.selectedQuantity" (change)="updateQuantity(item, item.selectedQuantity)">
            <option *ngFor="let qty of [1, 2, 3, 4, 5]" [value]="qty">{{ qty }}</option>
          </select>
        </p>
        <p class="item-price-unit">Precio unitario: ${{ item.product.valor }}</p>
        <p class="item-price-total">Precio total: ${{ item.selectedQuantity * item.product.valor }}</p>


        <div class="item-actions">
          <a href="#" class="item-action" (click)="removeItem(item); $event.preventDefault()">Borrar</a> |
          <a href="#" class="item-action" (click)="saveForLater(item); $event.preventDefault()">Guardar para Despues</a>
        </div>
      </div>
    </article>
  </section>

  <aside class="order-summary">
    <!-- <div class="coupon-section">
      <h2>Best Coupon</h2>
      <p>Save $22.00 with code SHEETS</p>
      <input type="text" placeholder="Enter Coupon Code">
      <button>Apply</button>
    </div> -->
    <div class="order-summary-details">
      <h2>Resumen del Pedido</h2>
      <p>Subtotal: ${{ totalPrice.toFixed(2) }}</p>
      <p>IVA/IVU: ${{ tax.toFixed(2) }}</p>
      <p>Delivery: ${{ deliveryCost.toFixed(2) }}</p>
      <h3>Total: ${{ totalWithTaxAndDelivery.toFixed(2) }}</h3>
      <button mat-raised-button class="btn btn-primary" id="checkout" (click)="proceedToCheckout()">Comprar</button>
      <button mat-raised-button class="btn btn-primary" id="clearCart" (click)="clearCart()">Vaciar Carrito</button>
    </div>
  </aside>
</main>

<ng-template #emptyCart>
  <p>No hay productos en el carrito.</p>
</ng-template>
