<body>

    <!--<h1>CSS Grid Gallery</h1>-->
    <div class="container">
  
      <div class="gallery-container w-3 h-2">
        <div class="gallery-item">
          <div class="image">
            <img src="https://source.unsplash.com/1600x900/?clothes" alt="Sales">
          </div>
          <div class="text">Sales</div>
        </div>
      </div>
  
      <div class="gallery-container w-3 h-3">
        <div class="gallery-item">
          <div class="image"><a routerLink="/productos">
            <img src="https://source.unsplash.com/1600x900/?shirts" alt="Most Searched">
          </a></div>
          <div class="text">Most Searched</div>
        </div>
      </div>
  
      <div class="gallery-container h-2">
        <div class="gallery-item">
          <div class="image"><a routerLink="/mujer">
            <img src="https://source.unsplash.com/1600x900/?woman" alt="Hers">
          </a></div>
          <div class="text">Hers</div>
        </div>
      </div>
  
      <div class="gallery-container w-2">
        <div class="gallery-item">
          <div class="image">
            <img src="https://source.unsplash.com/1600x900/?fitness" alt="fitness">
          </div>
          <div class="text">Fitness</div>
        </div>
      </div>
  
      <div class="gallery-container w-4 h-1">
        <div class="gallery-item">
          <div class="image">
            <img src="https://source.unsplash.com/1600x900/?hoodies" alt="casual">
          </div>
          <div class="text">Casual</div>
        </div>
      </div>
  
      <div class="gallery-container w-4 h-1">
        <div class="gallery-item">
          <div class="image"><a routerLink="/hombre">
            <img src="https://source.unsplash.com/1600x900/?men" alt="Him">
          </a></div>
          <div class="text">Him</div>
        </div>
      </div>
  
      <!--<div class="gallery-container h-2">
        <div class="gallery-item">
          <div class="image">
            <img src="https://source.unsplash.com/1600x900/?art" alt="art">
          </div>
          <div class="text">Art</div>
        </div>
      </div>
  
      <div class="gallery-container">
        <div class="gallery-item">
          <div class="image">
            <img src="https://source.unsplash.com/1600x900/?cars" alt="cars">
          </div>
          <div class="text">Cars</div>
        </div>
      </div>-->
  
    </div>


    <footer>
      <p>&copy; 2024 Our Store. All rights reserved.</p>
    </footer>

  </body>



<!--<body>
    <main>
        <h1>Welcome to Our Community</h1>
            <section class="banner">
                <p>Join our vibrant community and connect with like-minded individuals.</p>
            </section>
            
            <section class="gallery">
                <figure>
                    <img src="https://images.pexels.com/photos/6567541/pexels-photo-6567541.jpeg" alt="Description of image 1">
                </figure>
                <figure>
                    <img src="https://images.pexels.com/photos/6615607/pexels-photo-6615607.jpeg" alt="Description of image 2">
                </figure>
                <figure>
                    <img src="https://images.pexels.com/photos/4325804/pexels-photo-4325804.jpeg" alt="Description of image 3">
                </figure>
                <figure>
                    <img src="https://images.pexels.com/photos/15984037/pexels-photo-15984037.jpeg" alt="Description of image 4">
                </figure>
                <figure>
                    <img src="https://images.pexels.com/photos/1311590/pexels-photo-1311590.jpeg" alt="Description of image 5">
                </figure>
                <figure>
                    <img src="https://images.pexels.com/photos/2205839/pexels-photo-2205839.jpeg" alt="Description of image 6">
                </figure>
                <figure>
                    <img src="https://images.pexels.com/photos/4474010/pexels-photo-4474010.jpeg" alt="Description of image 7">
                </figure>
                <figure>
                    <img src="https://images.pexels.com/photos/3819540/pexels-photo-3819540.jpeg" alt="Description of image 8">
                </figure>
                <figure>
                    <img src="https://images.pexels.com/photos/9769853/pexels-photo-9769853.jpeg" alt="Description of image 9">
                </figure>
                <figure>
                    <img src="https://images.pexels.com/photos/10508388/pexels-photo-10508388.jpeg" alt="Description of image 10">
                </figure>
            </section>
    </main>
    
    <footer>
      <p>&copy; 2024 Our Community. All rights reserved.</p>
    </footer>
    
    </body>-->


<!--<div class="bento-grid">
    <div class="item">
        <a href="#" target="_blank">
            <img src="https://images.pexels.com/photos/6567541/pexels-photo-6567541.jpeg" alt="Photo by Tim Douglas">
        </a>
    </div>
    <div class="item">
        <a href="#" target="_blank">
            <img src="https://images.pexels.com/photos/6615607/pexels-photo-6615607.jpeg" alt="Photo by Cottonbro Studio">
        </a>
    </div>
    <div class="item">
        <a href="#" target="_blank">
            <img src="https://images.pexels.com/photos/4325804/pexels-photo-4325804.jpeg" alt="Photo by Migs Reyes">
        </a>
    </div>
    <div class="item">
        <a href="#" target="_blank">
            <img src="https://images.pexels.com/photos/15984037/pexels-photo-15984037.jpeg" alt="Photo by ">
        </a>
    </div>
    <div class="item">
        <a href="#" target="_blank">
            <img src="https://images.pexels.com/photos/1311590/pexels-photo-1311590.jpeg" alt="Photo by ">
        </a>
    </div>
    <div class="item">
        <a href="#" target="_blank">
            <img src="https://images.pexels.com/photos/2205839/pexels-photo-2205839.jpeg" alt="Photo by ">
        </a>
    </div>
</div>-->