/* Estilos generales del diálogo */
.checkout-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 800px;
  margin: auto;
}

/* Estilos para el resumen de la orden */
.order-summary {
  flex: 1; /* Ocupa el espacio disponible, ajustado por el factor de crecimiento */
  margin-right: 20px; /* Espacio entre las secciones */
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
}

.order-summary h2 {
  margin-bottom: 16px;
  color: #333;
  font-weight: 500;
}

.product-details {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.product-details img {
  width: 64px;
  height: 64px;
  margin-right: 16px;
  border-radius: 8px;
}

.details {
  flex-grow: 1;
}

.details h3 {
  margin: 0;
  color: #333;
  font-weight: 400;
}

.details p {
  margin: 5px 0;
  color: #666;
  font-size: 14px;
}

.details span {
  font-weight: bold;
}

.mat-divider {
  margin-top: 10px;
}

.totals p {
  margin: 5px 0;
  font-size: 16px;
  color: #333;
}

/* Estilos para la información de entrega */
.delivery-info {
  flex: 1; /* Ocupa el espacio disponible */
  padding: 20px;
  background-color: #e9ecef;
  border-radius: 8px;
}

.delivery-info h2 {
  color: #333;
  margin-bottom: 16px;
}

mat-form-field {
  width: 100%;
  margin-top: 16px;
}

/* Botón de confirmar */
.confirmar {
  margin-top: 20px;
  width: 100%;
}

/* Estilos específicos de Angular Material */
mat-dialog-content {
  padding: 24px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
