<!-- checkout-dialog.component.html -->

<main class="checkout-container">
    <h2>Detalles de la orden</h2>
    <!-- Aquí van los detalles de la orden como productos, precios, etc. -->
    
    <h4 id="h4">Para completar la orden, por favor complete esta información</h4>
        <div class="inputGroup">
            <div class="inputBox">
                <input type="text" required="required" class="first-line">
                <span>Nombre</span>
            </div>
            <div class="inputBox">
                <input type="text" required="required" class="second-line">
                <span>Apellidos</span>
            </div>
        </div>
        <div class="inputGroup">
            <div class="inputBox">
                <input type="email" required="required" class="first-line">
                <span>Email</span>
            </div>
            <span>Direccion de entrega</span>
            <div class="inputBox">
                <input type="text" required>
                <br>
                <textarea class="list" placeholder="Escribe tu direccion aqui..."></textarea>
            </div>
        </div>
        <h4>Elija los 3 días y horarios que mejor funcionen para su entrega.</h4>
        <p id="note">*Nota: Las fechas de entrega deben solicitarse al menos dos 
            días antes de la fecha de entrega deseada.</p>
        <div class="inputGroup">
            <div class="inputBox">
                <input type="date" required>
                <input type="time" class="time" required>
                <input type="date" required>
                <input type="time" class="time" required>
                <input type="date" required>
                <input type="time" class="time" required>
            </div>
        </div>
        
        <div class="inputGroup">
            <div class="inputBox">
                <label for="property-type" class="property-type">Tipo de Propiedad:</label>
                <select name="property-type" id="property-type">
                    <option value="house">Casa</option>
                    <option value="apartment">Apartmento</option>
                    <option value="condo">Condo</option>
                    <option value="other">Otro</option>
                </select>
            </div>
        </div>
        <div class="inputGroup">
            <div class="inputBox">
                <textarea class="delivery-instructions" 
                placeholder="Instrucciones de entrega..."></textarea>
            </div>
        </div>