<mat-dialog-content class="checkout-content">
  <main class="checkout-container">

    <section class="order-summary">
      <h2>Resumen de la Orden</h2>
      <p>Subtotal: ${{ orderSummary.subtotal.toFixed(2) }}</p>
      <p>IVA 11.5%: ${{ orderSummary.tax.toFixed(2) }}</p>
      <p>Envío: ${{ orderSummary.deliveryCost.toFixed(2) }}</p>
      <p>Total: ${{ orderSummary.total.toFixed(2) }}</p>
    </section>
    
    <section class="delivery-info">
      <h2>Información de Entrega</h2>
      <form [formGroup]="customerForm">
        <input formControlName="firstName" placeholder="Nombre">
        <input formControlName="lastName" placeholder="Apellidos">
        <input formControlName="street" placeholder="Calle y número">
        <input formControlName="city" placeholder="Ciudad">
        <input formControlName="state" placeholder="Ingrese el estado">
        <input formControlName="zipCode" placeholder="Código Postal">
        <input formControlName="phone" placeholder="Ingrese su número de teléfono">
        <textarea formControlName="deliveryInfo" placeholder="Cualquier detalle adicional para la entrega..."></textarea>
      </form>
    </section>
  </main>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" class="btn btn-primary" (click)="confirmPurchase()" class="confirmar">Confirmar Orden</button>
</mat-dialog-actions>