<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="gallery-item">
        <div class="image">
          <img src="https://source.unsplash.com/1600x900/?clothes" alt="nature">
        </div>
        <div class="text">Sales</div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="gallery-item">
        <div class="image"><a routerLink="/productos">
          <img src="https://source.unsplash.com/1600x900/?shirts" alt="people">
        </a></div>
        <div class="text">Most Searched</div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="gallery-item">
        <div class="image"><a routerLink="/mujer">
          <img src="https://source.unsplash.com/1600x900/?woman" alt="sport">
        </a></div>
        <div class="text">Hers</div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="gallery-item">
        <div class="image">
          <img src="https://source.unsplash.com/1600x900/?fitness" alt="fitness">
        </div>
        <div class="text">Fitness</div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="gallery-item">
        <div class="image">
          <img src="https://source.unsplash.com/1600x900/?hoodies" alt="food">
        </div>
        <div class="text">Casual</div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="gallery-item">
        <div class="image"><a routerLink="/hombre">
          <img src="https://source.unsplash.com/1600x900/?men" alt="travel">
        </a></div>
        <div class="text">Him</div>
      </div>
    </ng-template>
  </owl-carousel-o>
  