.product-dialog-content {
    display: flex;
    align-items: center;
  }
  
  .product-dialog-image {
    flex: 1; /* Ajusta este valor según necesites para el tamaño de la imagen */
  }
  
  .product-dialog-info {
    flex: 2; /* Ajusta este valor según necesites para el tamaño del texto */
    padding-left: 20px; /* Espacio entre la imagen y el texto */
  }
  
  .product-dialog-actions {
    display: flex;
    justify-content: space-between; /* Coloca los elementos en los extremos */
  }
  
  .flex-spacer {
    flex: 1 1 auto; /* Empuja los elementos a cada lado */
  }
  