
<body>

    <!--<h1>CSS Grid Gallery</h1>-->
    <div class="container">
  
      <div class="gallery-container w-3 h-2">
        <div class="gallery-item">
          <div class="image">
            <img src="https://source.unsplash.com/1600x900/?clothes" alt="nature">
          </div>
          <div class="text">Sales</div>
        </div>
      </div>
  
      <div class="gallery-container w-3 h-3">
        <div class="gallery-item">
          <div class="image"><a routerLink="/productos">
            <img src="https://source.unsplash.com/1600x900/?shirts" alt="people">
          </a></div>
          <div class="text">Most Searched</div>
        </div>
      </div>
  
      <div class="gallery-container h-2">
        <div class="gallery-item">
          <div class="image"><a routerLink="/mujer">
            <img src="https://source.unsplash.com/1600x900/?woman" alt="sport">
          </a></div>
          <div class="text">Hers</div>
        </div>
      </div>
  
      <div class="gallery-container w-2">
        <div class="gallery-item">
          <div class="image">
            <img src="https://source.unsplash.com/1600x900/?fitness" alt="fitness">
          </div>
          <div class="text">Fitness</div>
        </div>
      </div>
  
      <div class="gallery-container w-4 h-1">
        <div class="gallery-item">
          <div class="image">
            <img src="https://source.unsplash.com/1600x900/?hoodies" alt="food">
          </div>
          <div class="text">Casual</div>
        </div>
      </div>
  
      <div class="gallery-container w-4 h-1">
        <div class="gallery-item">
          <div class="image"><a routerLink="/hombre">
            <img src="https://source.unsplash.com/1600x900/?men" alt="travel">
          </a></div>
          <div class="text">Him</div>
        </div>
      </div>
  
      <!--<div class="gallery-container h-2">
        <div class="gallery-item">
          <div class="image">
            <img src="https://source.unsplash.com/1600x900/?art" alt="art">
          </div>
          <div class="text">Art</div>
        </div>
      </div>
  
      <div class="gallery-container">
        <div class="gallery-item">
          <div class="image">
            <img src="https://source.unsplash.com/1600x900/?cars" alt="cars">
          </div>
          <div class="text">Cars</div>
        </div>
      </div>-->
  
    </div>

  </body>
