<!-- 
El home tendrá una barra de menú con las siguientes funcionalidades:
- Hombre
- Mujer
- Carrito de compras

El home tendrá una imagen de fondo llamativa relacionada al tema del sitio, venta de ropa.

El home tendrá una barra de búsqueda de productos.

El home tendrá una sección de los productos más buscados, los cuales deben ser retornados por la API de backend.

-->

<!--<header>
    <div class="logo">
      <a class="navbar-brand" routerLink="/admin-home">Tienda-0</a>
    </div>
    <section class="search-bar">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </section>
    <div class="logOut">
      <a class="logOut-link" routerLink="/login">Logout</a>
    </div>
</header>-->
  
  <aside class="nav-menu">
    <nav class="collapse navbar-collapse" id="mynavbar">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin-home/products">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin/mujeres">Mujer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin/hombres">Hombre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin/categories">Categorias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin/admin-cart">Carrito</a>
            </li>
          </ul>
    </nav>
  </aside>
  
  
  <body class="background">
    <img src="https://www.stellantis.com/content/dam/stellantis-corporate/news/dashboard/dashboard-background-dx.jpg" alt="">
  </body>
  
  
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
  
