<section mat-dialog-content class="product-dialog-content">
    <div class="product-dialog-image">
        <img [src]="data.product.urlImagen" alt="{{ data.product.nombre }}" class="img-fluid">
    </div>
    <aside class="product-dialog-info">
        <h3>{{ data.product.nombre }}</h3>
        <p>Descripción {{ data.product.descripcion }}</p>
        <p>{{data.product.paraSexo}}</p>
        <p><strong>Precio:</strong> ${{ data.product.valor }}</p>
        <p>Color: </p>
        <div *ngIf="data.product.color" class="color-circle" [ngStyle]="{'background-color': data.product.color}"></div>
        <p>Talla: {{data.product.talla}}</p> 
        <p>Cantidad disponible: {{data.product.cantidad}}</p>

        <label for="quantity">Cantidad:</label>
        <input type="number" id="quantity" name="quantity" [(ngModel)]="quantity" min="1" max="{{ data.product.cantidad }}">
    </aside>
</section>
<section mat-dialog-actions class="product-dialog-actions" align="end">
  <button mat-button (click)="addToWishlist(data.product)">Añadir a mi lista</button>
  <button mat-button (click)="addToCart(data.product, quantity)" class="add-to-cart-btn">Añadir al Carrito</button>
</section>

