header {
    background-color: #0071dc; /* Azul de Walmart */
    color: white;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-button {
    display: none; /* Asumiendo diseño para pantallas grandes */
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
}

.logo a.navbar-brand {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.search-bar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 0 20px;
}

.search-bar input[type="search"] {
    flex-grow: 1;
    padding: 10px 100px 10px 10px;
    border: 2px solid #ccc;
    border-radius: 50px;
    height: 40px;
    box-sizing: border-box;     
    background-color: white;
}

.search-bar button {
    position: absolute;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0px 12px;
    height: 40px;
    box-sizing: border-box;
    color: #333;
    font-size: 18px;
}

.search-bar input[type="search"]:focus,
.search-bar button:focus {
    outline: none;
    border-color: #0056b3
}

.navbar-links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links ul li {
    padding: 0 15px;
}

.navbar-links ul li button {
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

@media (max-width: 768px) {
    .toggle-button {
        display: block;
    }
    .navbar-links ul {
        display: none;
    }
    .navbar-links ul.active {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .navbar-links ul li {
        text-align: center;
        padding: 10px 0;
    }
}




