<header *ngIf="shouldDisplayNavbar">
    <nav class="navbar">
        <a href="#" id="menu" class="toggle-button" (click)="toggleNavbar()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>

        <section class="logo">
            <a class="navbar-brand" routerLink="/home-page">Fusion Desings</a>
        </section>

        <section class="search-bar">
            <form class="d-flex" (submit)="onSubmit($event)">
             <input type="search" #searchQuery placeholder="Buscar por nombre, color, talla, o descripción" (input)="onSearch(searchQuery.value)">
            </form>
        </section>

        <section class="navbar-links">
            <ul>
                <li><button mat-button routerLink="/hombre">Hombre</button></li>
                <li><button mat-button routerLink="/mujer">Mujer</button></li>
                <li><button mat-button routerLink="/carrito">Carrito</button></li>
                <li *ngIf="!isLoggedIn"><button mat-button (click)="openLoginDialog()">Iniciar Sesión</button></li>
                <li *ngIf="isLoggedIn">Hola, {{ username }}</li>
                <li *ngIf="isLoggedIn"><button mat-button (click)="logout()">Cerrar sesión</button></li>
            </ul>
        </section>
    </nav>
</header>  